{{template "base" .}}
<!-- {{define "title"}}About{{end}} -->
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to my awesome site!</h1>
                <h2>This is About Page...</p>
            </div>
        </div>
    </div>
{{end}}